body{
	background-color: #eee;
}

.title{
	font-size: 20px;
	font-weight: bold;
}

.settings-form,.prepare-form,.query-form{
	max-width: 400px;
	padding: 10px;
	border-radius: 5px;
}
 
.settings-group{
	margin-top: 10px;
	border: 1px solid #ddd;
	padding: 20px;
	border-radius: 5px;
}

.container{
	border-radius: 5px;
	background-color: #fff;
	padding: 10px;
}

.hidden{
	display: none;
}